
<form>
  <h3>A. Periodo</h3>
  <div class="form-group">
    <label>Vigencia fiscal a declarar</label>
    <input type="text" class="form-control" [ngModel]="cilindrajeVehiculo" required>
  </div>
  <div class="form-group">
    <label>Fraccion año N° de meses</label>
    <input type="number" class="form-control" max="12">
  </div>


  <h3>B. Informacion de la declaracion que se corrige</h3>
  <div class="form-group">
    <label>Numero de la declaracion</label>
    <input type="number" class="form-control">
  </div>
  <div class="form-group">
    <label>Fecha en que declaro</label>
    <input type="date" class="form-control" max="12">
  </div>


  <h3>C. Datos del Declarante</h3>
  <div class="form-group">
    <label>Nombre o razon social completa del declarante</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Tipo de documento</label><br>
    <input type="radio" value="CC" name="document">CC<br>
    <input type="radio" value="NIT" name="document">NIT<br>
    <input type="radio" value="TI" name="document">TI<br>
    <input type="radio" value="CF" name="document">CF<br>
    <input type="radio" value="OTRO" name="document">OTRO<br>
    <label>Numero de documento</label>
    <input type="number" class="form-control">
  </div>
  <div class="form-group">
    <label>Apellidos</label>
    <input type="text" class="form-control">
    <label>Direccion</label>
    <input type="text" class="form-control">
    <label>Municipio de Residencia</label>
    <input type="text" class="form-control">
    <label>Departamento de residencia</label>
    <input type="text" class="form-control">
    <label>Celular</label>
    <input type="number" class="form-control">
    <label>Telefono</label>
    <input type="number" class="form-control">
    <label>E. Mail</label>
    <input type="email" class="form-control">
  </div>


  <h3>D. Datos del vehiculo</h3>
  <div class="form-group">
    <label>Tipo vehiculo</label><br>
    <input type="radio" value="moto" name="tipo" [(ngModel)]="tipoVehiculo" required>Moto<br>
    <input type="radio" value="carro" name="tipo" [(ngModel)]="tipoVehiculo">Carro<br>
    <label>Placa</label>
    <input type="text" class="form-control">
    <label>Marca</label>
    <input type="text" class="form-control">
    <label>Linea</label>
    <input type="text" class="form-control">
    <label>Modelo</label>
    <input type="text" class="form-control">
    <label>Clase</label>
    <input type="text" class="form-control">
    <label>Carroceria</label>
    <input type="text" class="form-control">
    <label>Grupo</label>
    <input type="text" class="form-control">
    <label>Numero de puertas</label>
    <input type="number" class="form-control">
    <label>Cilindeaje (cc)</label>
    <input type="number" class="form-control" name="cilindraje" [(ngModel)]="cilindrajeVehiculo">
    <label>Capacidad de carga (Kg)</label>
    <input type="number" class="form-control" >
    <label>Capacidad de pasajeros</label>
    <input type="number" class="form-control">
    <label>Municipio de matricula</label>
    <input type="text" class="form-control">
    <label>Departamento de matricula</label>
    <input type="text" class="form-control">
    <label>Blindado:</label><br>
    <input type="radio" value="1" name="blidaje" [(ngModel)]="blidado" required>si<br>
    <input type="radio" value="2" name="blindaje" [(ngModel)]="blidado">no<br>
    <input type="checkbox" value="1">Importado<br>
    <label>Compañia que expide el SOAT</label>
    <input type="text" class="form-control">
    <label>NIT de la compañia que expide el SOAT</label>
    <input type="text" class="form-control">
    <label>Numero de poliza</label>
    <input type="number" class="form-control">
    <label>Vencimiento de poliza</label>
    <input type="date" class="form-control">
    <label>Caja</label>
    <input type="number" class="form-control">
    <label>Traccion</label>
    <input type="number" class="form-control">
  </div>


  <h3>D. Datos del vehiculo</h3>
  <div class="form-group">
    <label>Avaluo comercial del vehiculo (Pesos)</label>
    <input type="number" class="form-control" name="valorComercial" [(ngModel)]="valorComercial" required>
    <label>Impuesto sobre vehiculos automotes</label>
    <input type="number" class="form-control">
    <label>Mas sanciones</label>
    <input type="text" class="form-control">
    <label>Menos descuentos</label>
    <input type="text" class="form-control">
    <label>Total a cargo</label>
    <input type="number" class="form-control">
    <label>Interes de mora</label>
    <input type="number" class="form-control">
    <label>Pagos anteriores</label>
    <input type="number" class="form-control">
    <label>Descuento de iteres</label>
    <input type="number" class="form-control">
    <label>Saldo a favor</label>
    <input type="number" class="form-control">
    <label>Total a pagar</label>
    <input type="number" class="form-control">
  </div>


  <h3>Datos del declarante</h3>
  <div class="form-group">
    <label>Nro identificacion declarante</label>
    <input type="number" class="form-control">
    <label>Nombres y apellidos</label>
    <input type="number" class="form-control">
    <label>Firma</label>
    <input type="text" class="form-control">
    <label>Menos descuentos</label>
    <input type="text" class="form-control">
  </div>


  <h3>Ultima declaracion</h3>
  <div class="form-group">
    <label>Nro declaracion anterior</label>
    <input type="number" class="form-control">
    <label>Fecha declaracion anterior</label>
    <input type="date" class="form-control">
  </div>




  <h1>Valor a pagar</h1>

  <h3>J. Distribucion del recaudo</h3>
  <div class="form-group">
    <label>Total</label>
    <p>{{impuesto}}</p>
    <label>Municipio (20%)</label>
    <p>{{impuesto*0.2}}</p>
    <label>Departamento (80%)</label>
    <p>{{impuesto*0.8}}</p>
  </div><br><br>



  <button type="submit" class="btn btn-primary" (click)="CalcularImpuesto()">Diligenciar</button><br>

  <button type="submit" class="btn btn-success" (click)="guardar()">Guardar</button>

</form>

